{% extends "base.html" %}

{% load static %}


{% block content %}


<div align="center">
    <h1>PELICULAS</h1>

    <form action="" method="get">
        <input type="text" name="busqueda" id="search">
        <input type="submit">
    </form>

    <img src="{{foto}}" alt="">


    <h2>Se han encontrado {{n_actor}} actores:  </h2>

    <h3>{{actor}}</h3>

    <h4>Con duracion {{length}}</h4>

    <h5>Y rating popular {{rating}} / 10</h5>








</div>

<div>
    <br>
    <br>
    <br>

    
    <li>
        PELICULAS DISPONIBLES HOY EN CINESA
    </li>

    {{peliculas}}
</div>


{% endblock %}