body { background-image: url('blancoroto.jpg'); }
p { font-size: 100%; }
h1 { font-size: 16px; }
div { margin: 20px; width: 1200px; padding: 5px; border: 6px solid teal; }
table { border: 1px solid teal; }
